/* Tablet Layout: 1170px. */
@media only screen and (min-width: 1170px) { 
    .container { width: 1170px }
    .desktop_area { display: block }
    .mobile_area { display: none }
}
/* Tablet Layout: 970px. */
@media only screen and (min-width: 970px) and (max-width: 1169px) { 
    .container { width: 970px }
    .project_list .single_project {
        margin: 20px;
        width: 272px;
    }
    .from_price h1 {
        border-radius: 4px;
        font-size: 35px;
        margin-left: -9px;
        margin-top: 10px;
        padding-top: 10px;
        width: 231px;
        height: 58px;
    }
    .single_pricing {
        background: rgba(0, 0, 0, 0) url("img/pricing_mainbg.png") no-repeat scroll 0 0 / 100% auto;
        margin-bottom: 74px;
        max-width: 239px;
        min-height: 603px;
    }
    .single_pricing h2 {
        font-size: 34px;
        padding-top: 40px;
    }
    .list_border { margin: 10px auto }
    .phn_text h1 { font-size: 71px }
    .protfolio_blog {
        margin-bottom: 49px;
        margin-top: 60px;
    }
    .cat_border { margin: 0 auto 0 47% }
    .about_heading {
        margin-bottom: 20px;
        margin-top: 105px;
    }
    .header_area #navbar-primary .navbar-nav li a {
        padding-left: 8px;
        padding-right: 8px;
    }
    .navbar-nav li a { font-size: 20px }
    .mind_main { margin-top: 100px }
    .mind_main h1 { font-size: 100px }
    .disscuss_area { min-height: 523px }
    .desktop_area { display: block }
    .mobile_area { display: none }
}
/* Tablet Layout: 750px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
    .container { width: 750px }
    .project_list .single_project {
        margin: 20px;
        width: 272px;
    }
	.footercontactdetails_main p {
	  font-size: 13px;
	}
    .list_border { margin: 10px auto }
    .phn_text h1 { font-size: 50px }
    .protfolio_blog {
        margin-bottom: 49px;
        margin-top: 60px;
    }
    .about_heading {
        margin-bottom: 20px;
        margin-top: 105px;
    }
    .header_area #navbar-primary .navbar-nav li a {
        padding-left: 8px;
        padding-right: 8px;
    }
    .navbar-nav li a { font-size: 20px }
    .mind_main { margin-top: 100px }
    .mind_main h1 {
        font-size: 80px;
        line-height: 40px;
    }
    .disscuss_area {
        margin-top: -76px;
        min-height: 518px;
        position: relative;
        z-index: 111;
    }
    .mind_main p {
        font-size: 15px;
        margin-top: 25px;
    }
    .single_discuss h2 { font-size: 40px }
    .service_heading h1 { font-size: 60px }
    .service_heading { margin-bottom: 40px }
    .project_filter ul.project_menu li {
        font-size: 15px;
        width: 154px;
    }
    .project_list .single_project {
        height: 164px;
        margin: 8px;
        width: 223px;
    }
    .protfolio_heading h1 { font-size: 60px }
    .pricing_heading h1 { font-size: 60px }
    .pricing_heading p { font-size: 16px }
    .single_pricing { margin: 0 auto }
    .pricing_bottom { padding-bottom: 30px }
    .phntext_fromleft h2 { font-size: 50px }
    .phntext_fromleft h2 span { font-size: 80px }
    .phntext_fromright { margin-top: 6px }
    .phntext_fromright h3 {
        font-size: 38px;
        line-height: 40px;
    }
    .protfolio_blog h1 { font-size: 60px }
    .blog_headingline h2 {
        font-size: 25px;
        margin-bottom: 0;
        margin-top: 0;
    }
    .blog_maintext p { font-size: 15px }
    .cat_border { margin: 0 auto 0 53% }
    .singleblog_image a img { width: 302px }
    .border_about { margin: 20px auto }
    .aboutme_image img { max-width: 100% }
    .aboutme_main p {
        margin-bottom: 12px;
        margin-top: 0;
    }
    .mail_form input[type="text"] { font-size: 15px }
    .stuardgreen h1 { font-size: 90px }
    .desktop_area { display: block }
    .mobile_area { display: none }
}
@media (max-width: 768px) { 
    .navbar-brand { display: block }
    .logo_nav { display: none }
    #navbar-primary .navbar-nav { height: inherit }
    .navbar-toggle { background: #fff none repeat scroll 0 0 }
    .desktop_area { display: none }
    .mobile_area { display: block }
    .navbar-brand > img {
        display: block;
        margin-top: -46px;
        width: 123px;
    }
    .navbar-toggle .icon-bar { background: #222222 none repeat scroll 0 0 }
    .mind_main { margin-top: 70px }
    .mind_main h1 {
        font-size: 52px;
        line-height: 22px;
    }
    .disscuss_area {
        margin-top: -205px;
        z-index: 111;
        position: relative;
    }
    .single_discuss {
        margin-bottom: 40px;
        margin-top: 0;
    }
    .single_disscussimgtwo img { margin-top: 0 }
    .single_service { margin-bottom: 55px }
    .project_list { text-align: center }
    .project_list .single_project { float: none }
    .pricing_heading h1 { font-size: 35px }
    .single_pricing { margin: 0 auto 35px }
    .phn_text h1 { font-size: 50px }
    .phntext_fromleft h2 { font-size: 30px }
    .phntext_fromleft h2 span { font-size: 50px }
    .phntext_fromright {
        margin-left: 5px;
        margin-top: 0;
    }
    .phntext_fromright h3 {
        font-size: 24px;
        line-height: 27px;
    }
    .phntext_from { max-width: 830px }
    .protfolio_blog h1 { font-size: 48px }
    .protfolio_blog {
        margin-bottom: 50px;
        margin-top: 50px;
    }
    .singleblog_image a img { max-width: 100% }
    .singleblog_image { float: none }
    .cat_border { margin: inherit }
    .about_heading h1 { font-size: 50px }
    .about_heading { margin-top: 90px }
    .aboutme_image { text-align: center }
    .getintouch_heading h1 { font-size: 50px }
    .mail_form input[type="text"] { width: 94% }
    .mail_form input[type="submit"] { width: 94% }
    .frequently_heading h1 { font-size: 40px }
    .frequently_heading { padding: 25px 0 }
    .stuardgreen h1 { font-size: 48px }
    .stuardgreen p { font-size: 23px }
    .stuardgreen_area { min-height: 290px }
    .footer_about_area { padding-top: 25px }
    .footer_social_icon img { width: 50px }
    .footerscrool_top {
        margin-top: 36px;
        text-align: center;
    }
    .copyright_text { text-align: center }
    .footer_bottom_menu ul { text-align: center }
    .footer_social_area { padding-bottom: 8px }
	.protfolio_heading h1 {font-size: 45px;}
	.project_list .single_project {max-width: 100%;}
}
@media (max-width: 450px) { 
    .navbar-brand { display: block }
    .logo_nav { display: none }
    #navbar-primary .navbar-nav { height: inherit }
    .navbar-toggle { background: #fff none repeat scroll 0 0 }
    .desktop_area { display: none }
    .mobile_area { display: block }
    .navbar-brand > img {
        display: block;
        margin-top: -46px;
        width: 123px;
    }
    .navbar-toggle .icon-bar { background: #222222 none repeat scroll 0 0 }
    .mind_main { margin-top: 70px }
    .mind_main h1 {
        font-size: 43px;
        line-height: 22px;
    }
    .disscuss_area {
        margin-top: -205px;
        z-index: 111;
        position: relative;
    }
    .single_discuss {
        margin-bottom: 40px;
        margin-top: 0;
    }
    .single_disscussimgtwo img { margin-top: 0 }
    .single_service { margin-bottom: 55px }
    .project_list { text-align: center }
    .project_list .single_project { float: none }
    .pricing_heading h1 { font-size: 35px }
    .single_pricing { margin: 0 auto 35px }
    .phn_text h1 { font-size: 50px }
    .phntext_fromleft h2 { font-size: 25px }
    .phntext_fromleft h2 span { font-size: 35px }
    .phntext_fromright {
        margin-left: 5px;
        margin-top: 0;
    }
    .phntext_fromright h3 {
        font-size: 20px;
        line-height: 25px;
    }
    .phntext_from { max-width: 830px }
    .protfolio_blog h1 { font-size: 48px }
    .protfolio_blog {
        margin-bottom: 50px;
        margin-top: 50px;
    }
    .singleblog_image a img { max-width: 100% }
    .singleblog_image { float: none }
    .cat_border { margin: inherit }
    .about_heading h1 { font-size: 50px }
    .about_heading { margin-top: 90px }
    .aboutme_image { text-align: center }
    .getintouch_heading h1 { font-size: 50px }
    .mail_form input[type="text"] { width: 94% }
    .mail_form input[type="submit"] { width: 94% }
    .frequently_heading h1 { font-size: 40px }
    .frequently_heading { padding: 25px 0 }
    .stuardgreen h1 { font-size: 48px }
    .stuardgreen p { font-size: 20px }
    .stuardgreen_area { min-height: 290px }
    .footer_about_area { padding-top: 25px }
    .footer_social_icon img { width: 50px }
    .footerscrool_top {
        margin-top: 36px;
        text-align: center;
    }
    .copyright_text { text-align: center }
    .footer_bottom_menu ul { text-align: center }
    .footer_social_area { padding-bottom: 8px }
    .project_list .single_project {
        float: none;
        height: 230px;
        margin: 10px;
    }
	.protfolio_heading h1 {font-size: 45px;}
	.project_list .single_project {max-width: 100%;}
}